<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Comipled and minified JavaScript for Materialize CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<main>
    <body class="grey darken-4">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper grey darken-3">
                    <a class="brand-logo center">MANGADEX GIVE ME MY READING LIST REEEE</a>
                </div>
            </nav>
        </div>
        <div class="container">
            {% block content %}  
            {% endblock %}
        </div>
    </body>
</main>